body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* nav related csss */

nav{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
/* Marycss */
.mary{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.textprimary{
    color: #FD6E0A;
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
    margin: 0px 20px;

}
.buttton-primary{
    border-radius: 5px;
background: #FD6E0A;
color: var(--white-color, #FFF);
pad: 18px 35px;
font-size: 20px;
font-style: normal;
font-weight: 700;

}
/* headerrelated */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 50px 150px;
    display: flex;
    align-items: center;
}
.hi{
    color: var(--dark-02, #474747);
font-size: 45px;
font-style: normal;
font-weight: 600;
}
.imon{
    color: var(--dark-01, #181818);
    
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    
}
img{
    width: 250px;
height: 200px;
flex-shrink: 0;
}